@import '../../Sass/abstracts//variables';

// Movie Form
.movie-form {

    padding: 3rem;
    font-size: 2rem;

    // Making radient effect in background
    background-image: linear-gradient(to right bottom, $color-grey-dark-3, $color-grey-dark);
    text-align: center;

    &-title {
        padding: 1rem;
        margin-bottom: 2rem;
        color: $color-white;        
    }
    
    .movie-search {
        
        // using flex box
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        // Flex box's the most children
        & > div {
            padding: 2rem;
            font-size: 1.2rem;
            background-color: $color-grey-dark-2;
            width: 17%;
            box-shadow: 0 1.5rem 4rem rgba($color-white, .1);
            margin-bottom: 2rem;
            // the last child does not have margin-right value
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

}

// media control for flex above
@media only screen and (max-width: 680px) {
    .movie-search > div {
       width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .movie-search > div {
       width: 100%;
    }
    
}