@import '../../Sass/abstracts/variables';

// Movie List
.movie-list {

    margin-top: 4rem;
    background-color: $color-grey-light-2;
    width: 100%;

    &__error {
        color: $color-secondary-dark;
    }

    &__group {
        // List movies using flex box
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        // flex box childs
        & > div {
            padding: 2rem;
            font-size: 1.2rem;
            background-color: $color-grey-dark-2;
            width: 45%;
            box-shadow: 0 1.5rem 4rem rgba($color-white, .1);
            margin-bottom: 2rem;
            margin-right: 2rem;
        }    

    }
    // each movie item
    .movie-list__group__item {
        border-radius: 5px;
        margin: 0 auto;
        position: relative;
        justify-content: center;
    }   
    

}


.movie-list__group__card-item {
    // card's perspective setup when it rotates
    perspective: 1500rem;
    
    // For moziila brwoser 
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    width: 60%;
    margin: 0 auto;
}

// for both bothe sides, front and back sides
.card-side {
    
    font-size: 4rem;
    height: 52rem;
    // For smooth transition
    transition: all .8s ease;
    // both front and back sides are fixed at the same parent area
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    // both card's back sides are not visible
    // FYI, front and back sides above are the first and the second elements
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
} 

.card__front {
    background-color: $color-white;
}

.card__title {

    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-secondary-dark;
    padding-top: 40%;

}

.card__detail {

    padding: 3rem;

    ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        li {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            border-bottom: 1px solid $color-grey-light-2;  
        }
    }
}

.card__back {
    background-color: $color-grey-light-2;
    // Cards rotates on the basis of  "Y" coordinate
    transform: rotateY(180deg);
    color: $color-secondary-dark;
    
}

// outline of post
.card__back--post {
  
    width: 90%;
    background-size: cover;
    height: 80%;
    padding-top: 2rem;
    margin: 0 auto;
}

// fitting card size and making it responsive
.card__back--picture {
    width: 85%;
    height: 100%;

}

// setting up the card that lets the child rotate
//  when the user hovers
// It rotates in 180 degree and then disappears
//  because of "backface-visibility: hidden;" above
.movie-list__group__card-item:hover .card__front {
    // moving in other direction!
    transform: rotateY(-180deg);
}

// In default, it was set up in 180 degree.
// Therefore, it can not viewed because of backface-visibility: hidden;
// When the user hover around the card, it rotates to 0 degree and then it is visible
.movie-list__group__card-item:hover .card__back {
    transform: rotateY(0deg);
}

// media setup
@media only screen and (max-width: 890px) {
    .movie-list__group > div {
       width: 100%;
    }
    
}